html{min-height: 100%;}
body{min-height: 100%;}
.wrapper{min-height: 100%;}

.white-space{
    white-space: nowrap;
}
.margin-left-dropzone{
      margin-left: -71px;
      font-size: 21px;
      font-weight: bold;
}
.margin-left-dropzonep{
      margin-left: -71px;
      text-align: justify;
  
}
.iconMargin{
    margin-right:9px;
}
.buttonUpload{
    margin-top: 20px;
}

 .buttonPrintBack{
      margin-right: 13px;
 }
 .margin-dropzone{
        margin-top: 53px;
 }
.center-align{
    text-align: center; 
}
.dropzone {
    border : 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 15em;
    border: 2px dashed #ccc;
    padding: 0px 0px;
    margin: 20px auto
}

.validateError{
    color:red;
    font-size: 18px;
}
.displaynone{
    display: none;
}